                        <a href="__SPEC_HREF__">
                            <li class="__SPEC_CLASS__ spec-name">
                                <span id="scenarioName" class="scenarioname">__SPEC_NAME__</span>
                                <span id="time" class="time">__SPEC_TIME__</span>
                            </li>
                        </a>
